<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Calendar</title>
        <style>
        </style>
    </head>

    <body>
        <h1>Calendar</h1>

        <ul>
            <li th:each="event: ${events}">
                <span th:text="${event.title}">title</span>
                <span th:text="${event.desc}">description</span>
                <span th:text="${#temporals.format(event.date, 'dd.MM.yyyy')}">date</span>
                <span th:text="${event.status}">status</span>
                <!-- Yksittäisen eventin lisätiedot -->
                <a th:href="@{/events/{id}(id=${event.id})}">View Details</a>
            </li>
        </ul>

        <h2>Categories</h2>
        <div th:if="${categories != null and not #lists.isEmpty(categories)}">
            <ul>
                <li th:each="category: ${categories}">
                    <a th:href="@{/categories/{id}(id=${category.id})}" class="category-link"
                       th:text="${category.tag}">Category Name</a>
                </li>
            </ul>
        </div>
        <div th:if="${categories == null or #lists.isEmpty(categories)}">
            <p>No categories available.</p>
        </div>

        <h2>Add new</h2>

        <form th:action="@{/}" method="POST">
            <input type="text" name="title" placeholder="Title"/>
            <input type="text" name="desc" placeholder="Description"/>
            <input type="text" name="date" placeholder="Date(dd.MM.yyyy)" th:value="${date}"/>
            <input type="text" name="category" placeholder="Category"/>
            <input type="submit" value="Add!"/>
        </form>

        <script th:if="${dateError != null}" type="text/javascript">
            //alert([[${dateError}]]);
            alert('Wrong dateformat. Use dd.MM.yyyy.');
        </script>
    </body>
</html>